{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New name and e-mail</h2>
  
    <form method="POST" action="insert">
      <label> Name </label><input type="text" name="name" /><br />
      <label> E-Mail </label><input type="text" name="email" /><br />
      <input type="submit" value="Save user" />
    </form>
  {{ template "Footer" }}
{{ end }}
