{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}


    <h2> Register {{ .Id }} </h2>
      <p>Name: {{ .Name }}</p>
      <p>E-Mail:  {{ .Email }}</p><br /> <a href="/edit?id={{ .Id }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }}
